
    <h1>We are on the Home page !</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p><a href="https://rails-stage2a.herokuapp.com/static_pages/help">Need Help ?</a></p>
<p><a href="https://rails-stage2a.herokuapp.com/static_pages/about">About us</a></p>
